.row
%hr
%h4 Legend
%table.table.table-bordered.table_condensed.span4
  %tr
    %td{:bgcolor => StaffHolidayChartEntry::YELLOW, :width => '15px'}= ' '
    %td Weekend/Bank Holiday
  %tr
    %td{:bgcolor => StaffHolidayChartEntry::GREEN}= 'W'
    %td Working Day
  %tr
    %td{:bgcolor => StaffHolidayChartEntry::PINK}= 'H'
    %td Booked Holiday 
  %tr
    %td{:bgcolor => StaffHolidayChartEntry::PINK}= 'h'
    %td Booked Holiday (half day)
  %tr
    %td{:bgcolor => StaffHolidayChartEntry::LIGHT_PINK}= 'H'
    %td Booked Holiday - awaiting approval
