%h1 Booked Holiday Calendar

-if @type == :booked_holiday
  %h4 
    Booked Holidays that may overlap with Holiday booked by 
    = @booked_holiday.user.name
    %br
    = @booked_holiday.to_s
- else
  %h4
    Booked Holidays in the month of
    = @calendar.start_date_month_name

.row
%hr
%h4 
  Calendar Starting 
  = @calendar.start_date_human
%table.table.table-bordered.table-condensed.span10
  %thead
    %tr
      %th Staffmember
      - @calendar.days.each do |day|
        %th= day.date
  %tbody
    - @calendar.booked_holiday_collection.each_with_index do |bh, i|
      %tr
        %td= bh.user.name
        - @calendar.days.each do |day|
          %td{:bgcolor => day.chart_entries[i].bgcolor}= day.chart_entries[i].symbol

.row
  .span6
    = link_for_previous_month(@date)
  .span6.text-right
    = link_for_following_month(@date)

=render :partial => 'legend'