%h2 Staff Overview
%p
%h4 
  Details of staff holiday entitlements and bookings for Holiday year 
  = @year.description

%p

%table.table.table-condensed.table-bordered
  %tr
    %th Staff Member
    %th Holiday Entitlement
    %th Brought Forward
    %th Total This Year
    %th Taken/Booked
    %th Remaining
    %th Action

  - @user_holiday_sets.each do | uhs | 
    %tr
      %td= uhs.user_name
      %td= uhs.num_allowance_days
      %td= uhs.num_brought_forward_days
      %td= uhs.total_num_days
      %td= uhs.num_booked_holidays
      %td= uhs.num_days_available
      %td View Details
