%td= ah.start_date.dmy
%td= ah.end_date.dmy
%td= ah.num_days
%td= ah.approval_status
%td= ah.date_approved.nil? ? ' ' : ah.date_approved.dmy
%td=  render_cell :booked_holiday_action, :show, :booked_holiday => ah