.row
%hr
%h3 Holiday requests awaiting your approval
=form_tag approve_booked_holidays_path do
  %table.table.table-bordered.table-condensed.span10
    %thead
      %tr
        %th Staff Member
        %th From
        %th To 
        %th Num Working Days
        %th Balance if Approved
        %th Action
    %tbody
    - uhs.user.outstanding_requests.each do |bh|
      - bh = bh.decorate
      %tr.success
        %td= bh.user.name
        %td= bh.start_date.dmy
        %td= bh.end_date.dmy
        %td= bh.num_days
        %td= bh.balance_if_approved
        %td
          = check_box_tag "approve_#{bh.id}", 1, false, {id: "approve_#{bh.id}", class: 'checkbox'} 
          Approve
          = check_box_tag "reject_#{bh.id}", 1, false, {class: 'checkbox'} 
          Reject
          &nbsp;
          =link_to 'View', calendar_show_path(:id => bh)
  %button.btn.btn-danger{:type => 'submit'} Approve/Reject Requests