%h3 Request Holiday

= form_tag(booked_holidays_path, :class => 'form-search inline') do

  .control-group
    = label_tag 'start_date', 'From', :class => 'control-label'
    .controls
      .input-prepend.time-picker-input
        .add-on
          %i.icon-time
        = text_field_tag  :start_date, nil, placeholder: 'Click to set start date', class: 'span3 datetime_form'
      %label.checkbox
      = check_box_tag :half_day_on_start_date, 1, false, {class: 'checkbox'}
      Half Day?

  .control-group
    = label_tag 'end_date', 'Until', :class => 'control-label'
    .controls
      .input-prepend.time-picker-input
        .add-on
          %i.icon-time
        = text_field_tag  :end_date, nil, placeholder: 'Click to set end date', class: 'span3 datetime_form'
      %label.checkbox
      = check_box_tag :half_day_on_end_date, 1, false, {class: 'checkbox'}
      Half Day?

      


  = hidden_field_tag :user_id, uhs.user_id
  
  %button.btn.btn-primary{:type => 'submit'} Send Request


