.row
%hr
%h3 Staff Booked Holidays
%table.table.table-bordered.table-condensed.span10
  %thead
    %tr
      %th Staff Member
      %th From
      %th To
      %th Num Working Days
      %th Action
  %tbody
    - @booked_holidays.each do |bh|
      %tr
        %td= bh.user.name
        %td= bh.start_date_human
        %td= bh.end_date_human
        %td= bh.num_days
        %td= link_to 'View', calendar_show_path(:id => bh)