%h5= uhs.year_description

%table.table.table-bordered.table-condensed
  %tr.success
    %td Entitlement
    %td= uhs.num_allowance_days
  %tr.success
    %td Brought Forward from last year
    %td= uhs.num_brought_forward_days
  %tr.success
    %td Total Days this year
    %td= uhs.total_num_days
  %tr.error
    %td Approved Booked Holidays
    %td= uhs.num_approved_holidays
  %tr.error
    %td Booked Holidays awaiting approval
    %td= uhs.num_unapproved_holidays
  %tr.error
    %td Days still left to take this year
    %td= uhs.num_days_available

