.row
%hr
%h3 
  Your Booked Holidays
  = uhs.year.description
%table.table.table-bordered.table-condensed.span10
  %thead
    %tr
      %th From
      %th To 
      %th Num Working Days
      %th Approved By
      %th Approval Date
      %th Action
  %tbody
    - uhs.approved_holidays.each do |ah|
      %tr.success
        =render :partial => 'booked_holiday_row', :locals => {:ah => ah}
        
    - uhs.unapproved_holidays.each do |ah|
      %tr.info
        =render :partial => 'booked_holiday_row', :locals => {:ah => ah}
        
    - uhs.rejected_holidays.each do |ah|
      %tr.error


- if uhs.hols_next_year?
  .row
  %h3 
    Holidays booked for 
    = uhs.next_year.description
  %table.table.table-bordered.table-condensed.span10
    %thead
      %tr
        %th From
        %th To 
        %th Num Working Days
        %th Approved By
        %th Approval Date
        %th Action
    %tbody
      - uhs.ny_approved_holidays.each do |ah|
        %tr.success
          =render :partial => 'booked_holiday_row', :locals => {:ah => ah}
          
      - uhs.ny_unapproved_holidays.each do |ah|
        %tr.info
          =render :partial => 'booked_holiday_row', :locals => {:ah => ah}
          
      - uhs.ny_rejected_holidays.each do |ah|
        %tr.error