%h2 Booked Holiday Deletion Request.
%p
  = "#{@user.name} has asked requested the deletion of holiday #{@booked_holiday}."
  

%p
  This start date for this holiday is today, or earlier, and therefore you approval is required to delete this holiday.

%p 
  = "Please approve or deny, and optionally send a message to #{@user.name}."




= form_tag(confirm_deletion_booked_holiday_path(@booked_holiday), :class => 'form-search inline') do
  %row.span10
    %textarea.form-control.field.span8{:name => 'email_message', :rows => 8, :placeholder => "Any text you type here will be included in an emaill message to #{@user.name}"}
  %row.span10
    %p
    %button.btn.btn-success{:name => 'approve_deletion', :type => 'submit'} Approve Deletion Request
    &nbsp;&nbsp;
    %button.btn.btn-danger{:name => 'deny_deletion',:type => 'submit'} Deny Deletion Request
    %p
    %p






