%h2 Booked Holiday Request.



%p 
  - if @bhc.valid?
    Your Holiday Request below has been sent to
    = @bhc.user.manager.name
    for approval.

    %ul
      - @bhc.booked_holidays.each do |booked_holiday|
        %li= booked_holiday.decorate.to_s
  - else
    Please correct the error and try again.

