.row-fluid
  %h2 Staff Holiday Booking System

  %h3 
    Summary for 
    = @uhs_cy.user.name

.row-fluid
  .span4#current_year_summary
    =render :partial => 'summary', :locals => {:uhs => @uhs_cy}

  .span4#next_year_summary
    - unless @uhs_ny.nil?
      =render :partial => 'summary', :locals => {:uhs => @uhs_ny}

  .span4 
    %h5 View Holiday Calendars
    %table.table
      - 4.times do
        %tr
          - 3.times do
            %td
              - date = @months.shift
              = link_to date.strftime('%B'), calendar_show_path(:date => date)
    %p
    - if can?(:read, :admin)
      = link_to "View Details for all Staff", admin_index_path


.row
%hr
=render partial: 'request_holiday_form', :locals => {:uhs => @uhs_cy}



-if @uhs_cy.approved_or_unapproved_holidays.any?
  =render :partial => 'user_booked_holidays', :locals => {:uhs => @uhs_cy}


-if @uhs_cy.user.has_outstanding_requests?
  =render :partial => 'outstanding_requests', :locals => {:uhs => @uhs_cy}
  
     
-if @uhs_cy.user.is_manager?
  =render :partial => 'staff_booked_holidays', :locals => {:booked_holidays => @booked_holidays}
  


