Array.prototype.last = function()
{
	return this[this.length - 1];
}

Array.prototype.toSentence = function(two_words_connector)
{ 
	var two_words_connector = typeof two_words_connector !== 'undefined' ? two_words_connector : '<%= I18n.t(:'support.array.two_words_connector') %>';
	
	var sentence = "";
	if(this.length == 1)
	{
		sentence = this[0];
	}
	else
	{
		for (var i = 0; i < this.length; i++) 
		{
			element = this[i];
			if(this.last() == element)
			{
				sentence = sentence.substring(0, sentence.length - 2);
				sentence += " " + two_words_connector + " " + element;
			}
			else
			{
				sentence += element + "<%= I18n.t(:'support.array.words_connector') %>";
			}
		}		
	}
	return sentence;
}

// This will only work for jQuery elements.
Array.prototype.map = function(mapped_function)
{
	var mapped = [];
	for (var i = 0; i < this.length; i++) 
	{
		element = this[i];
		mapped.push($[mapped_function](element));
	}
	return mapped;
}

// This will only work for jQuery elements.
Array.prototype.collect = function(property)
{
	var mapped = [];
	for (var i = 0; i < this.length; i++) 
	{
		element = this[i];
		mapped.push(element[property]);
	}
	return mapped;
}

Array.prototype.include = function(value)
{
	if($.inArray(value, this) == -1)
	{
		return false;
	}
	else
	{
		return true;
	}
}