.default_or_custom_input_selector
  .if-js-enabled
    .btn-group(data-toggle="buttons-radio")
      - options.each do |name, value|
        - data_hash = (value == false ? {disable: '1'} : {value: value})
        %a{class: "btn #{(default==name) ? 'active' : ''}" , disabled: (true if disabled), data: data_hash}
          = name
  %span.input-container
    = block
    