Dear <%= @user.name %>,


Message from Staff Holiday Booking System:  Deletion Request for holiday Approved


Your request to delete the holiday #{@booked_holiday} has been approved by <%= @manager.name %>.

<% unless @comment.nil? %>

  The following message was attached to the approval:

  <%= @comment %>
<% end %>

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Your updated details for <%= @uhs.year.description %>:


No. of Days in Holiday Year:                     <%= @uhs.num_allowance_days %>
No. of Days Brought Forward from Previous Year:  <%= @uhs.num_brought_forward_days %>
No. of Days Approved:                            <%= @uhs.num_approved_holidays %>
No. of Days Awaiting Approval:                   <%= @uhs.num_unapproved_holidays %>
No. of Days Remaining:                           <%= @uhs.num_days_available %> 



Staff Holiday Booking System