Dear <%= @user.manager.name %>,


Message from Staff Holiday Booking System:  Deletion of future Booked Holiday for <%= @user.name %>.


<%= @user.name %> has requested that the holiday <%= @booked_holiday %> be deleted.

This holiday lies completely in the future, and so does not require your approval.





Staff Holiday Booking System
