Dear <%= @user.manager.name %>,


Message from Staff Holiday Booking System:


<%= @user.name %> has submitted a holiday request <%= @booked_holiday %>.

If approved, <%= @user.name %> will have a balance of <%= @booked_holiday.balance_if_approved %> days.

To see the details, and approve or reject the request, go to <%= StaffHolsConfig.base_url %>/booked_holidays.





Staff Holiday Booking System
