Dear <%= @user.manager.name %>,


Message from Staff Holiday Booking System:  Deletion Request for past Booked Holiday


<%= @user.name %> has requested that the holiday <%= @booked_holiday %> (which is at least partially in the past) be deleted.

To see the details, and to approve or reject the request, go to <%= approve_deletion_booked_holiday_url(@booked_holiday.id) %>





Staff Holiday Booking System
