// To allow mixins, etc, in 'child' style sheets we have to import using SASS so it processes them together.

// Bootstrap
@import "twitter/bootstrap-no-sprites";
@import "twitter/bootstrap/responsive";
@import "bootstrap-modal";
@import "bootstrap-editable";
@import "bootstrap-switch";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "variables";
@import "jquery.ui.slider";
@import "overrides/**/*";
@import "application/**/*";


.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}



#next_year_summary {
	color: gray;
	font-style: italic;
}