.required
	input
		background-color: $light_blue

.default_or_custom_input_selector
	white-space: nowrap
	
	.input-container
		margin-left: 10px

	.input-prepend,
	.input-append
		margin-bottom: 0

.form-errors
	@extend .alert
	@extend .alert-error
	@extend .fade
	@extend .in

	.main-error-message
		margin-top: 10px
		margin-bottom: 20px
		font-size: 130%

.field_with_errors
	display: inline
	input
		background-color: #f2dede