- flash.each do |name, msg|
  - if msg.is_a?(String) || msg.is_a?(Array)
    %div{ :class => "#{flash_class(name)}" }
      %a.close{"data-dismiss" => "alert"} ×
      - if msg.is_a?(String)
        = content_tag :div, msg, :id => "flash_#{name}"
      - else
        %ul
          - msg.each do |item|
            %li= item
          
