= link_to "StaffHols", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    - if current_user.is_admin? || current_user.is_manager?
      %li
        = link_to "Staff Holiday Overview", admin_index_path
    - if current_user.is_admin?
      %li
        = link_to 'User Administration', users_path
        
      